<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    body{
        background-image: url(https://images.unsplash.com/photo-1601134467661-3d775b999c8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2VhdGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1400&q=60) ;
        background-repeat:no-repeat;
        box-sizing: content-box;
    }
     .container{
        width: 60vw;
        margin-top: 20vh;
    }
   .attr{
   text-decoration: none;
   }
    
    

</style>
    </head>
    <body><div class="container">
        <div class="main">
<h1> The current weather in <%= data.name %> ,<%= data.sys.country %> is <%= data.weather[0].description  %> </h1>
<h1>The current Temperature is <%= Math.round(data.main.temp) %> degree celcius</h1>
</div>
<button><a href="/" class="attr">Search Weather of another city</a></button>
<button><a href="/requests" class="attr">Check weather requests</a></button>
</div>
</html>